{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block inner %}

  <style>
    {% if root_css|length %}
      {{root_css }}
    {% endif %}
    .bluebg.reset-password{
      justify-content: flex-end;
      height: 74%;
    }
    .reset-password .box{
      padding: 25px;
    }
    .formBx.formBxReset{
      height: 90%;
    }
    label{
      text-indent: unset;
    }
    .formBxReset .form{
      top: 0;
      color: #666;
      padding: 30px 25px;
    }
    @media (max-width: 991px){
      .reset-password .box{
        bottom: 0%;
      }
      .bluebg.reset-password{
        justify-content: flex-end;
        height: 82%;
        top: 8%;
      }
      .formBx.formBxReset{
        height: 60%;
        width: 100%;
        top: 8%;
      }
    }
    .btn-primary{
      background-color: var(--primary-color);
    }
    .btn-primary:hover{
      background-color: var(--secondary-color);
      color: var(--font-hover-color);
    }
  </style>

  <div class="login-page">
    <div class="login-container">
      <div class="bluebg reset-password">
        <div class="box ">
          <h2>Welcome Back!</h2>
          <p>Enter your new password and click on "Reset Password" to go back to the Sign In page</p>
        </div>
      </div>
      <div class="formBx formBxReset">
        <div class="form">
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <!--EXTRA CODE-->
          <div style="margin-bottom: 7%;">
            <a href="/tenant_admin/accounts/login/">
              {% if logo_on_form|length %}
                <img src="/media/{{tenant}}/TenantTheme/login_screen/logo/{{logo_on_form}}" style="margin-bottom: 10px;margin-top: -8px;" alt="Acies Logo" class="acies_logo_short" height="50" width="60">
              {% else %}
                <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}" style="margin-bottom: 10px;margin-top: -8px;" alt="Acies Logo" class="acies_logo_short" height="50" width="60">
              {% endif %}
            </a>
            <a href="/tenant_admin/accounts/login/" id="backtoSignin">Sign In <i class="fa fa-arrow-right"></i> </a>
          </div>


          <h5 style="text-align:left;padding: 0.5rem;color:var(--primary-color)">{% if token_fail %}{% trans "Bad Token" %}{% else %}<b>{% trans "Password Reset" %}</b>{% endif %}</h5>

          {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p style="text-align:left;padding: 0.5rem;">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'reset_password_new' %}">new password reset</a></p>
          {% else %}
          {% if form %}
          <form style="padding: 0.5rem;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="button" id="reset_submit2" style="padding: 5px 10px;" class="btn btn-primary btn-xs rounded">Reset Password</button>
          </form>
          {% else %}
          <p style="text-align:center;padding: 0.5rem;">{% trans 'Your password is now changed.' %}</p>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<script>
  var ctoken = $('form').find("input[name='csrfmiddlewaretoken']").attr('value')
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", ctoken);

            }
        });

      $("#reset_submit2").off("click").on("click", function(){
        let username = window.location.pathname.split('/')[5]
        $.ajax({
          url: window.location.pathname,
          data: {
              'username':username,
              'password1':$("#id_password1").val(),
              'password2':$("#id_password2").val(),
          },
          type: "POST",
          dataType: "json",
          success: function (data) {
            if(data.data == "success"){
              Swal.fire({text:"Your password has been reset!",icon:"success"})
              .then((result) => {
                if (result.isConfirmed) {
                  url = '/tenant_admin/accounts/login/'
                  window.location.href = url
                }
              })
            }else if(data.data == "error"){
              Swal.fire({text:data.msg,icon:"error"})
              .then((result) => {
                if (result.isConfirmed) {
                  window.location.reload()
                }
              })
            }else{
              window.location.reload()
            }
          },
          error: function () {
              alert("Error");
          }
          })

      })

</script>


        {% endblock %}

