{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% if title_data %}
{{title_data}}
{% else %}
{% trans "Change Password" %}
{% endif %}
{% endblock %}

{% block inner %}
<style>
  {% if root_css|length %}
      {{root_css }}
    {% endif %}
  .fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  .fade-scale.in {
    opacity: 1;
    transform: scale(1);
  }
  .terms-header{
    text-align: center;
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 30px;
  }
  .terms-conditions{
    margin-top: 30px;
  }
  .acies-text-left{
    text-align: justify;
  }
  .terms-close{
    display: flex;
    justify-content: flex-end;
  }
  .terms-conditions .container{
    width: 90%;
    margin-top: 1rem;
  }
  .terms-conditions ul li{
    font-size: 16px;
  }

  .Modal-content {
    background-color: #f7f7f7;
    margin: auto;
    padding: 12px;
    border-radius: 15px;
    max-width: 80%;
    height: 96%;
    overflow: hidden;
  }
  .Modal-content .wrapper {
    position: relative;
    overflow: auto;
    height: 92%;
    padding: 0 10px;
    min-height: unset;
  }
  .content-header{
    margin-top: 1rem;
  }

  @media screen and (max-width: 768px){

    .content-header h1 {
      font-size: 1.4rem;
      text-align: center;
    }
    .terms-conditions .container{
      width: 95%;
    }
    .acies-text-left,.acies-text-left a {
      font-size: 13px;
    }
    .terms-conditions ul li {
      font-size: 13px !important;
      text-align: justify;
    }
    .Modal-content {
      padding: 8px;
    }
    .acies_logo_short {
      margin-bottom: 10px;
    }
    .alert{
      margin-bottom: 0.2rem;
    }

  .terms-header{
    font-size: 1.5rem;
  }
 }
 .password_change{
  margin: 2px;
 }
 .btn-primary{
  background-color: var(--primary-color);
}
.btn-primary:hover{
  background-color: var(--secondary-color);
  color: var(--font-hover-color);
}

</style>
<!--<h1>{% trans "Change Password" %}</h1>-->
<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body" style="border-radius: 2.5%;">
        <!--EXTRA CODE-->
        <div id='messages-content'>

          {% include 'messages.html' %}

        </div>
        <a href="/tenant_admin/accounts/login/">
          {% if logo_on_form|length %}
            <img src="/media/{{tenant}}/TenantTheme/login_screen/logo/{{logo_on_form}}" style="margin-bottom: 10px;margin-top: -8px;" alt="Acies Logo" class="acies_logo_short" height="50" width="60">
          {% else %}
            <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}" style="margin-bottom: 10px;margin-top: -8px;" alt="Acies Logo" class="acies_logo_short" height="50" width="60">
          {% endif %}
        </a>
        <a href="/tenant_admin/accounts/login/" style="float:right;text-align:center;color:var(--primary-color);">Back to Sign In</a>
        <p>
        </p>
        <h5 style="color:var(--primary-color)">{% trans "Change Password" %}</h5>
        <form method="POST" action="/tenant_admin/accounts/password/change/" class="password_change">
          {% csrf_token %}
          {{ form|crispy }}
          {% if tenant_data == 'terms_at_first_signin' %}
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="checkboxinput form-check-input" id="master-checkbox" style="top:3.5px;"
                  onchange="document.getElementById('aciessigninbuttonFirst').disabled = !this.checked;">
                <label for="master-checkbox" class="form-check-label">
                  Accept
                  <a onMouseOver="this.style.color='black'" onMouseOut="this.style.color='var(--primary-color)'" id="myBtn"
                    class="acies-nrm-text" style="color: var(--primary-color);">
                    <font size="2">Terms & Conditions</font>
                  </a>
                </label>
              </div>
            </div>
          {% endif %}
          <input type="hidden" name="username" value="{{ username }}" />
          <button class="btn btn-primary" id="aciessigninbuttonFirst" type="submit" name="action"{% if tenant_data == 'terms_at_first_signin' %}disabled{% endif %}>{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="Modal fade-scale">
  <div class="Modal-content" id="Modal-content">
    <div class="wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header" id="content-header">
        <div class="container">
          <h3 class="terms-header" id="terms-header">Terms of Use</h3>
          <hr class="hr">
          <!-- /.container-fluid -->
          <div class="acies-nrm-text"></div>
        </div>
      </div>
      <div class="content terms-conditions">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h5>Acceptance of Terms</h5>
              {{ termsandConditionsfromTenant|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="justify-content: space-between;">
      <a href="#content-header" id="scrollToTop" class="btn btn-primary"><i class="fa fa-arrow-up"></i></a>
      <button id="closeModal1" class="btn btn-primary">Close</button>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById("myModal");
  var btnOpen1 = document.getElementById("myBtn");
  var btnClose1 = document.getElementById("closeModal1");
  btnOpen1.addEventListener('click', function () {
    modal.classList.add("in")
  })

  btnClose1.onclick = function () {
    modal.classList.remove("in")

  }
</script>


{% endblock %}

<!-- div_id_password1,  -->