{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
    <!--<h1>{% trans "Set Password" %}</h1>-->
  <div class="container_lgn">
    <!--EXTRA CODE-->
    <a href="{% url 'account_login' %}">
      <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}"
           alt="Acies Logo" height="50" width="60">
    </a>
    <a href="{% url 'account_login' %}" style="float:right;text-align:center;color:var(--primary-color);">Back to Sign In</a>
    <p></p>
    <h4 style="text-align:center;">{% trans "Set Password" %}</h4>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}" />
    </form>
  </div>

{% endblock %}

