{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
<!--<h1>{% trans "Change Password" %}</h1>-->
<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body" style="border-radius: 2.5%;">
        <!--EXTRA CODE-->
        <div id='messages-content'>

          {% include 'messages.html' %}

        </div>
        <a href="/platform_admin/accounts/login/">
          <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}" alt="Acies Logo" height="50" width="60">
        </a>
        <a href="/platform_admin/accounts/login/" style="float:right;text-align:center;color:var(--primary-color);">Back to Sign In</a>
        <p>
        </p>
        <h4 style="text-align:center;">{% trans "Change Password" %}</h4>
        <form method="POST" action="/platform_admin/accounts/password/change/" class="password_change">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="username" value="{{ username }}" />
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}

<!-- div_id_password1,  -->