{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% if title_data %}
{{title_data}}
{% else %}
{% trans "Change Password" %}
{% endif %}
{% endblock %}

{% block inner %}
<!-- Cryto Js for Password Hashing -->
<script src="{% static 'js/crypto-js/js/crypto-js.min.js' %}"></script>

<style>
{% if root_css %}
  {{root_css|safe}}
{% endif %}
.password_change{
  margin: 2px;
 }
</style>

<!--<h1>{% trans "Change Password" %}</h1>-->
<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body" style="border-radius: 2.5%;">
        <!--EXTRA CODE-->
        <div id='messages-content'>

          {% include 'messages.html' %}

        </div>
        <a href="{% url 'account_login' %}">
          {% if logo_on_form|length %}
            <img src="/media/{{tenant}}/TenantTheme/login_screen/logo/{{logo_on_form}}" alt="Acies Logo" height="50" width="60">
          {% else %}
            <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}" alt="Acies Logo" height="50" width="60">
          {% endif %}
        </a>
        <a href="{% url 'account_login' %}" style="float:right;text-align:center;color:var(--primary-color);">Back to Sign In</a>
        <p>
        </p>
        <h5 style="color:var(--primary-color)">{% trans "Change Password" %}</h5>
        <form method="POST" id ='change_pwd' action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {{ form|crispy }}
          {% if terms_conditions_mandatory == 'terms_at_first_signin' %}
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="checkboxinput form-check-input" id="master-checkbox" style="top:3.5px;"
                  onchange="document.getElementById('aciessigninbuttonFirst').disabled = !this.checked;">
                <label for="master-checkbox" class="form-check-label">
                  Accept
                  <a onMouseOver="this.style.color='black'" onMouseOut="this.style.color='var(--primary-color)'" id="myBtn"
                    class="acies-nrm-text" style="color: var(--primary-color);">
                    <font size="2">Terms & Conditions</font>
                  </a>
                </label>
              </div>
            </div>
          {% endif %}
          <input type="hidden" name="username" id="id_username" value="{{ username }}" />
          <button class="btn btn-primary" id="aciessigninbuttonFirst" type="submit" name="action"{% if terms_conditions_mandatory == 'terms_at_first_signin' %}disabled{% endif %}>{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="Modal fade-scale">
  <div class="Modal-content" id="Modal-content">
    <div class="wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header" id="content-header">
        <div class="container">
          <h3 class="terms-header" id="terms-header">Terms of Use</h3>
          <hr class="hr">
          <!-- /.container-fluid -->
          <div class="acies-nrm-text"></div>
        </div>
      </div>
      <div class="content terms-conditions">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h5>Acceptance of Terms</h5>
              {{ termsAndConditions|safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="justify-content: space-between;">
      <a href="#content-header" id="scrollToTop" class="btn btn-primary"><i class="fa fa-arrow-up"></i></a>
      <button id="closeModal1" class="btn btn-primary">Close</button>
    </div>
  </div>
</div>

<script>
  $("#aciessigninbuttonFirst").on("click", function(e){
    e.preventDefault();
    var key ='{{k_value}}'
    key = CryptoJS.enc.Utf8.parse(key);
    var iv = CryptoJS.enc.Utf8.parse("{{h_value}}");
    var username = $("#id_username").val();
    var old_password = $("#id_oldpassword").val();
    var password1 = $("#id_password1").val();
    var password2 = $("#id_password2").val();
    var encrypted_username = CryptoJS.AES.encrypt(username, key, { iv: iv, mode: CryptoJS.mode.CBC});
    encrypted_username = encrypted_username.toString();
    var encrypted_old_password = CryptoJS.AES.encrypt(old_password, key, { iv: iv, mode: CryptoJS.mode.CBC});
    encrypted_old_password = encrypted_old_password.toString();
    var encrypted_password1 = CryptoJS.AES.encrypt(password1, key, { iv: iv, mode: CryptoJS.mode.CBC});
    encrypted_password1 = encrypted_password1.toString();
    var encrypted_password2 = CryptoJS.AES.encrypt(password2, key, { iv: iv, mode: CryptoJS.mode.CBC});
    encrypted_password2 = encrypted_password2.toString();
    $("#id_username").val(encrypted_username);
    $("#id_oldpassword").val(encrypted_old_password);
    $("#id_password1").val(encrypted_password1);
    $("#id_password2").val(encrypted_password2);
    $("#change_pwd").trigger('submit');
  })

  var modal = document.getElementById("myModal");
  var btnOpen1 = document.getElementById("myBtn");
  var btnClose1 = document.getElementById("closeModal1");
  btnOpen1.addEventListener('click', function () {
    modal.classList.add("in")
  })

  btnClose1.onclick = function () {
    modal.classList.remove("in")

  }



</script>


{% endblock %}

<!-- div_id_password1,  -->