{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
  <div style="padding-top:15em;padding-right:7em;">
    <div class="container_lgn" style="height:34%;min-height:24%;">
      <!--EXTRA CODE-->
      <a href="{% url 'account_login' %}">
        <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}"
             alt="Acies Logo" height="50" width="60" style="margin-right:86px;">
      </a>
      <a href="{% url 'account_login' %}" style="float:right;text-align:center;color:var(--primary-color);position: relative; right: 0%; top: 3vh;" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='#B8860B'">Back to Sign In</a>
      <p></p>
      <h6 style="text-align:center;">{% trans "Change Password" %}</h6>
      <p style="text-align:center;">{% trans 'Your password is now changed.' %}</p>
    </div>
  </div>

{% endblock %}

