{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block inner %}

  <!-- Cryto Js for Password Hashing -->
  <script src="{% static 'js/crypto-js/js/crypto-js.min.js' %}"></script>

  <style>
    .bluebg.reset-password{
      justify-content: flex-end;
      height: 74%;
    }
    .reset-password .box{
      padding: 25px;
    }
    .formBx.formBxReset{
      height: 90%;
    }
    label{
      text-indent: unset;
    }
    .formBxReset .form{
      top: 0;
      color: #666;
      padding: 30px 25px;
    }
    @media (max-width: 991px){
      .reset-password .box{
        bottom: 0%;
      }
      .bluebg.reset-password{
        justify-content: flex-end;
        height: 82%;
        top: 8%;
      }
      .formBx.formBxReset{
        height: 60%;
        width: 100%;
        top: 8%;
      }
    }
  </style>

  <div class="login-page">
    <div class="login-container">
      <div class="bluebg reset-password">
        <div class="box ">
          <h2>Welcome Back!</h2>
          <p>Enter your new password and click on "Reset Password" to go back to the Sign In page</p>
        </div>
      </div>
      <div class="formBx formBxReset">
        <div class="form">
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <!--EXTRA CODE-->
          <div style="margin-bottom: 7%;">
            <a href="{% url 'account_login' %}">
              <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}"
                  alt="Acies Logo" height="50" width="60">
            </a>
            <a href="{% url 'account_login' %}" id="backtoSignin">Sign In <i class="fa fa-arrow-right"></i> </a>
          </div>


          <h6 style="text-align:left;padding: 0.5rem;">{% if token_fail %}{% trans "Bad Token" %}{% else %}<b>{% trans "Password Reset" %}</b>{% endif %}</h6>

          {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p style="text-align:left;padding: 0.5rem;">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'reset_password_new' %}">new password reset</a></p>
          {% else %}
          {% if form %}
          <form style="padding: 0.5rem;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="button" id="reset_submit2" style="padding: 5px 10px;" class="btn btn-primary btn-xs rounded">Reset Password</button>
          </form>
          {% else %}
          <p style="text-align:center;padding: 0.5rem;">{% trans 'Your password is now changed.' %}</p>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<script>
  var ctoken = $('form').find("input[name='csrfmiddlewaretoken']").attr('value')
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", ctoken);

            }
        });

      $("#reset_submit2").on("click", function(){
        let username = window.location.pathname.split('/')[4]
        var password1 = $("#id_password1").val();
        var password2 = $("#id_password2").val();
        var key ='{{k_value}}'
        key = CryptoJS.enc.Utf8.parse(key);
        var iv = CryptoJS.enc.Utf8.parse("{{h_value}}");
        var encrypted_password1 = CryptoJS.AES.encrypt(password1, key, { iv: iv, mode: CryptoJS.mode.CBC});
        encrypted_password1 = encrypted_password1.toString();
        var encrypted_password2 = CryptoJS.AES.encrypt(password2, key, { iv: iv, mode: CryptoJS.mode.CBC});
        encrypted_password2 = encrypted_password2.toString();
        var encrypted_username = CryptoJS.AES.encrypt(username, key, { iv: iv, mode: CryptoJS.mode.CBC});
        encrypted_username = encrypted_username.toString();
        $("#id_password1").val(encrypted_password1)
        $("#id_password2").val(encrypted_password2)
        $.ajax({
          url: window.location.pathname,
          data: {
            'username': encrypted_username,
            'password1': encrypted_password1,
            'password2': encrypted_password2,
          },
          type: "POST",
          dataType: "json",
          success: function (data) {
            if(data.data == "success"){
              Swal.fire({icon: 'success',text: 'Your password has been reset successfully!'})
              .then((result) => {
                if (result.isConfirmed) {
                  url = "/applicationlogin/";
                  window.location.href = url
                }
              })

            }else if(data.data == "error"){
              Swal.fire({icon: 'error',text: data.msg})
              .then((result) => {
                if (result.isConfirmed) {
                  window.location.reload()
                }
              })
            }else{
              window.location.reload()
            }
          },
          error: function () {
            Swal.fire({icon: 'error',text: 'Error! Please try again.'});
          }
        })

      })

</script>


        {% endblock %}

