{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}

    <!--<h1>{% trans "Password Reset" %}</h1>-->
<!--<style>
  #add:active {
    background-color: #B8860B;
    border-color: black;
  }
</style>-->
  <div class="login-page">
    <div class="login-box">
      <div class="card">
        <div class="card-body login-card-body">
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <!--EXTRA CODE-->
          <a href="{% url 'account_login' %}">
            <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}"
                 alt="Acies Logo" height="50" width="60">
          </a>

          <a href="{% url 'account_login' %}" style="float:right;text-align:center;color:var(--primary-color);position: relative; right: 0%; top: 3vh;" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='#B8860B'">Back to Sign In</a>
          <p></p>

          <h6 style="text-align: left;"><b>{% trans "Password Reset" %}</b></h6>
          <p style="text-align:left;">{% trans "Forgot your password? Enter your Username below, and we'll send you an e-mail allowing you to reset it." %}</p>
          <form>
            {% csrf_token %}
            <label for="reset_email_username">Username:</label>
            <input type="text" class="textinput textInput form-control" required id="reset_email_username" placeholder="Username">
            <br>
            <button type="button" id="reset_submit" class="btn btn-primary btn-xs rounded">Reset My Password</button>
          </form>
        </div>
        </div>
</div>
  </div>
<script>
        var ctoken = $('form').find("input[name='csrfmiddlewaretoken']").attr('value')
              $.ajaxSetup({
                  beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", ctoken);

                  }
              });

            $("#reset_submit").off("click").on("click", function(){

              $.ajax({
                url: `/accounts/password/reset_password/`,
                data: {
                    'reset_email_username':$("#reset_email_username").val(),
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                  if (data.data == "success"){
                    var url = String(window.location.href);
                    url = url.replace(`password/reset_p/`, "password_reset/done/");
                    window.location.href = url
                  }else{
                    window.Swal.fire({icon: 'error',text: data.msg});
                    var url = String(window.location.href);
                    url = url.replace(`accounts/password/reset_p/`, "applicationlogin/");
                    window.location.href = url
                  }
                },
                error: function () {
                  Swal.fire({icon: 'error',text: 'Error! Please try again.'});
                }
                })

            })

</script>



        {% endblock %}


