{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
  <div class="login-page">
    <div class="login-box">
      <div class="card">
        <div class="card-body login-card-body">
          <!--EXTRA CODE-->
          <a href="{% url 'account_login' %}">
            <img src="{%static 'images/Base_theme/Acies_short_logo.png'%}"
                 alt="Acies Logo" height="50" width="60">
          </a>
          <a href="{% url 'account_login' %}" style="float:right;text-align:center;color:var(--primary-color);">Back to Sign In</a>
          <p></p>
          <h6 style="text-align:center;">{% trans "Verify Your E-mail Address" %}</h6>

          {% url 'account_email' as email_url %}

          <p style="text-align:center;">
            {% blocktrans %}This part of the site requires us to verify that
            you are who you claim to be. For this purpose, we require that you
            verify ownership of your e-mail address. {% endblocktrans %}
          </p>

          <p style="text-align:center;">
            {% blocktrans %}We have sent an e-mail to you for
            verification. Please click on the link inside this e-mail. Please
            contact us if you do not receive it within a few minutes.{% endblocktrans %}
          </p>

          <p style="text-align:center;">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>


        </div>
        </div>
</div>
    </div>

        {% endblock %}

